{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_conformite_traitement list' %}
{% set menuItem = 'registry_conformite_traitement' %}

{% block title %}{{ 'registry.conformite_traitement.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.conformite_traitement.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.conformite_traitement.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    <a href="{{ path('registry_conformite_traitement_report') }}" class="btn btn-default">
                        <i class="fa fa-clipboard-list"></i>
                        {{ 'registry.conformite_traitement.action.report'|trans }}
                    </a>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'registry.conformite_traitement.list.traitement'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th>{{ 'registry.conformite_traitement.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th>{{ 'registry.conformite_traitement.list.gestionnaire'|trans }}</th>
                            <th>{{ 'registry.conformite_traitement.list.conformite'|trans }}</th>
                            <th>{{ 'registry.conformite_traitement.list.conformite_reponse'|trans }}</th>
                            <th>{{ 'registry.conformite_traitement.list.date_conformite'|trans }}</th>
                            {% if is_granted('ROLE_USER') %}
                                <th>{{ 'label.actions'|trans }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in objects %}
                            {% set conformiteTraitement = object.conformiteTraitement %}
                            {% set planifiedMesurementToBeNotified = [] %}
                            {% if conformiteTraitement is not null %}
                                {% set planifiedMesurementToBeNotified = getPlanifiedMesurements(conformiteTraitement) %}
                                {% set nbTotal = conformiteTraitement.nbConformes + conformiteTraitement.nbNonConformesMineures + conformiteTraitement.nbNonConformesMajeures %}
                                {% set widthNbConforme = ((conformiteTraitement.nbConformes * 100) / nbTotal)|round %}
                                {% set widthnbNonConformesMineures = ((conformiteTraitement.nbNonConformesMineures * 100) / nbTotal)|round %}
                                {% set widthnbNonConformesMajeures = 100 - (widthNbConforme + widthnbNonConformesMineures) %}
                                {% set conformiteBackgroundColor = getConformiteLevelWeight(conformiteTraitement) %}
                            {% endif %}
                            <tr>
                                <td>
                                    {% if planifiedMesurementToBeNotified is not empty %}
                                        <div class="mesurement-hide">
                                            <i class="primary-i fas fa-exclamation-circle"></i>
                                            <div class="primary">
                                                <span>Action de protections appliquées : </span>
                                                <ul>
                                                    {% for mesurement in planifiedMesurementToBeNotified %}
                                                        <li>{{ mesurement.name }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ object.name }}</td>
                                {% if is_granted('ROLE_REFERENT') %}
                                    <td>{{ object.collectivity }}</td>
                                {% endif %}
                                <td>{{ object.manager }}</td>
                                {% if conformiteTraitement is not null and conformiteBackgroundColor is defined %}
                                    <td>
                                        <span style="display: none;">{{ conformiteBackgroundColor }}</span>
                                        {% set labelConforme = 'Conforme' %}
                                        {% set labelNonConformeMineure = 'Non-conforme mineure' %}
                                        {% set labelNonConformeMajeure = 'Non-conforme majeure' %}

                                        {% set labelConformiteColor = 'label-danger' %}
                                        {% set labelConformite = labelNonConformeMajeure %}
                                        {% if conformiteBackgroundColor == 1 %}
                                            {% set labelConformiteColor = 'label-success' %}
                                            {% set labelConformite = labelConforme %}
                                        {% elseif conformiteBackgroundColor == 2 %}
                                            {% set labelConformiteColor = 'label-warning' %}
                                            {% set labelConformite = labelNonConformeMineure %}
                                        {% endif %}
                                        <span class="label {{ labelConformiteColor }}" style="min-width: 100%; display: inline-block;">{{ labelConformite }}</span>
                                    </td>
                                {% else %}
                                 <td></td>
                                {% endif %}
                                <td>
                                    {% if conformiteTraitement is not null %}
                                        <div class="stacked-bar-graph">
                                            {% if widthNbConforme %}<span style="width:{{ widthNbConforme }}%" class="bar-conforme tooltipchart"><span class="tooltipcharttext">{{ labelConforme }} : {{ conformiteTraitement.nbConformes }}</span></span>{% endif %}
                                            {% if widthnbNonConformesMineures %}<span style="width:{{ widthnbNonConformesMineures }}%" class="bar-non-conforme-mineure tooltipchart"><span class="tooltipcharttext">{{ labelNonConformeMineure }} : {{ conformiteTraitement.nbNonConformesMineures }}</span></span>{% endif %}
                                            {% if widthnbNonConformesMajeures %}<span style="width:{{ widthnbNonConformesMajeures }}%" class="bar-non-conforme-majeure tooltipchart"><span class="tooltipcharttext">{{ labelNonConformeMajeure }} : {{ conformiteTraitement.nbNonConformesMajeures }}</span></span>{% endif %}
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{% if conformiteTraitement is not null %}{{ conformiteTraitement.updatedAt|date('d/m/Y') }}{% endif %}</td>
                                {% if is_granted('ROLE_USER') %}
                                    <td>
                                        <a href="{% if conformiteTraitement is null %}{{ path('registry_conformite_traitement_create', {'idTraitement': object.id}) }}{% else %}{{ path('registry_conformite_traitement_edit', {'id': conformiteTraitement.id}) }}{% endif %}">
                                            <i class="fa fa-pencil-alt"></i>
                                            {{ 'registry.conformite_traitement.action.show_conformite_traitement'|trans }}
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set dataTableOptions = {
            'order':  [[1, 'asc' ]],
            'columnDefs': [
                {'targets': 0, 'width': 1},
                {'targets': 4, 'width': 1},
                {'targets': 5, 'orderable': false},
                {'targets': 6, 'width': '10%'},
                {'targets': 7, 'orderable': false}
            ]
        } %}
    {% else %}
        {% set dataTableOptions = {
            'order':  [[1, 'asc' ]],
            'columnDefs': [
                {'targets': 0, 'width': 1},
                {'targets': 3, 'width': 1},
                {'targets': 4, 'orderable': false},
                {'targets': 5, 'width': '10%'},
                {'targets': 6, 'orderable': false}
            ]
        } %}
    {% endif %}

    {{ include('_Utils/_datatable.html.twig') }}
{% endblock %}

{% block style %}
    <style>
        .stacked-bar-graph .tooltipchart {
            position: relative;
        }

        .tooltipchart .tooltipcharttext {
            visibility: hidden;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px;
            border-radius: 6px;
            height: 30px;
            display: block;
            position: absolute;
            z-index: 2;
            top: 120%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }

        .tooltipchart:hover .tooltipcharttext {
            visibility: visible;
        }

        .tooltipchart .tooltipcharttext::after {
            content: " ";
            position: absolute;
            bottom: 100%;  /* At the top of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
    </style>
{% endblock %}
