{% set submitValue = submitValue|default('action.submit'|trans) %}


<div class="row">
    {{ form_start(form) }}

    {# LEFT SIDE #}
    <div class="col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.proof.tab.general'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {{ form_row(form.type) }}
                {{ form_row(form.comment) }}
            </div>
        </div>

        <div class="box box-solid box-success">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.proof.tab.upload'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.documentFile) }}
            </div>
        </div>
    </div>

    {# RIGHT SIDE #}
    <div class="col-md-6">
        <div class="box box-solid box-warning">
            <div class="box-header with-border"><h3 class="box-title">{{ 'registry.proof.tab.link'|trans }}</h3></div>
            <div class="box-body">
                <blockquote>
                    <small>{{ 'registry.proof.form.help.link'|trans }}</small>
                </blockquote>
                {{ form_row(form.treatments) }}
                {{ form_row(form.contractors) }}
                {{ form_row(form.mesurements) }}
                {{ form_row(form.requests) }}
                {{ form_row(form.violations) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('registry_proof_list') }}" class="btn btn-default">
                    {{ 'registry.proof.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>
