{% extends 'base.html.twig' %}

{% set bodyClass = 'user_user list' %}
{% set menuItem = 'user_user' %}

{% block title %}{{ 'user.user.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.user.title.list'|trans }}
        <small>
            {% if app.request.query.get('archive') == 'true' %}
                {{ 'label.archived'|trans }}
            {% else %}
                {{ 'label.not_archived'|trans }}
            {% endif %}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.user.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="action-bar">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('user_user_create') }}" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    {{ 'user.user.action.new'|trans }}
                </a>
                {% endif %}
                {% if app.request.query.get('archive') == 'true' %}
                    <a href="{{ path('user_user_list', {'archive' : 'false'}) }}" class="btn btn-default">
                        <i class="fa fa-archive"></i>
                        {{ 'user.user.action.not_archived'|trans }}
                    </a>
                {% else %}
                    <a href="{{ path('user_user_list', {'archive' : 'true'}) }}" class="btn btn-default">
                        <i class="fa fa-archive"></i>
                        {{ 'user.user.action.archived'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input class="form-control" type="text" id="search_prenom" placeholder="Prénom" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_email" placeholder="Email" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_collectivite" placeholder="Collectivité" style="width: 100%;">
                            </th>
                            <th> <select class="form-control" id="search_role" style="width: 100%;">
                                    <option value="">Rôle</option>
                                    {% for key, subject in dictionary('user_user_role') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select></th>
                            <th></th>
                            <th>
                                <input class="datepicker form-control" type="text" id="search_last_login" placeholder="Date" style="width: 100%;">
                            </th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>{{ 'user.user.list.first_name'|trans }}</th>
                            <th>{{ 'user.user.list.last_name'|trans }}</th>
                            <th>{{ 'user.user.list.email'|trans }}</th>
                            <th>{{ 'user.user.list.collectivity'|trans }}</th>
                            <th>{{ 'user.user.list.roles'|trans }}</th>
                            <th>{{ 'user.user.list.enabled'|trans }}</th>
                            <th>{{ 'user.user.list.last_login'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "prenom"},
            {"data": "nom"},
            {"data": "email"},
            {"data": "collectivite"},
            {"data": "roles"},
            {"data": "actif", "orderable": false},
            {"data": "connexion"},
            {"data": "actions", "className": "noVis", "orderable": false},
        ],
        order:  [
            [0, 'asc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_prenom').off('keyup');
            $('#search_prenom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));

            $('#search_email').off('keyup');
            $('#search_email').keyup($.debounce(250, function(){
                oTable.column('2').search($(this).val()).draw() ;
            }));

            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw() ;
            }));

            $('#search_role').off('change');
            $('#search_role').change(function(){
                oTable.column('4').search($(this).val()).draw() ;
            });

            $('#search_last_login').off('change');
            $('#search_last_login').change(function(){
                oTable.column('6').search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>


{% endblock %}
