{% set submitValue = submitValue|default('action.submit'|trans) %}
{% import _self as formMacros %}

{% macro printComiteIlContact(contact) %}
    <div class="js-collection-item">
        <a href="#" class="js-remove-item pull-right">
            <i class="fa fa-times" style="color:#ff746d;"></i>
        </a>
        {{ form_errors(contact) }}
        {{ form_widget(contact) }}
    </div>
{% endmacro %}

<div class="row">
    {{ form_start(form) }}

    {# LEFT #}
    <div class="col-md-6">
        {# GENERAL #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.general'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.name) }}
                {{ form_row(form.shortName) }}
                {{ form_row(form.type) }}
                {{ form_row(form.siren) }}
                {{ form_row(form.active) }}
                {{ form_row(form.website) }}
                {{ form_row(form.hasModuleConformiteTraitement) }}
                {{ form_row(form.hasModuleConformiteOrganisation) }}
            </div>
        </div>

        {# LEGAL MANAGER #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.legal_manager'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.legalManager) }}
            </div>
        </div>

        {# DPO #}
        <div id="box-dpo" class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.dpo'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.differentDpo) }}
                {{ form_widget(form.dpo) }}
            </div>
        </div>

        {# REPORTING MANAGEMENT COMMITMENT #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.reporting_block.management_commitment'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.reportingBlockManagementCommitment) }}
            </div>
        </div>
    </div>

    {# RIGHT #}
    <div class="col-md-6">
        {# ADDRESS #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.address'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.address) }}
            </div>
        </div>

        {# REFERENT #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.referent'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.referent) }}
            </div>
        </div>

        {# IT MANAGER #}
        <div id="box-it-manager" class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.it_manager'|trans }}</h3></div>
            <div class="box-body">
                {{ form_row(form.differentItManager) }}
                {{ form_widget(form.itManager) }}
            </div>
        </div>

        {# REPORTING CONTINUOUS IMPROVEMENT #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.reporting_block.continuous_improvement'|trans }}</h3></div>
            <div class="box-body">
                {{ form_widget(form.reportingBlockContinuousImprovement) }}
            </div>
        </div>

        {# COMITE IL CONTACT #}
        <div class="box box-solid">
            <div class="box-header with-border"><h3 class="box-title">{{ 'user.collectivity.tab.comite_il'|trans }}</h3></div>
            <div class="box-body">
                <div class="js-collection-wrapper"
                     data-prototype="{{ formMacros.printComiteIlContact(form.comiteIlContacts.vars.prototype)|e('html_attr') }}"
                     data-index="{{ form.comiteIlContacts|length }}"
                >
                    {% for contact in form.comiteIlContacts %}
                        {{ formMacros.printComiteIlContact(contact) }}
                    {% endfor %}
                    <a href="#" class="js-collection-add">
                        <span class="fa fa-plus-circle"></span>
                        Ajouter un membre
                    </a>
                </div>
            </div>
        </div>

        {# prevents weird label from showing up in new #}
        {{ form_widget(form.comiteIlContacts) }}
    </div>

    <div class="col-md-12">
        <div class="box box-solid">
                <div class="box-body text-center">
                <a href="{{ path('user_collectivity_list') }}" class="btn btn-default">
                    {{ 'user.collectivity.action.back_to_list'|trans }}
                </a>
                <input type="submit" class="btn btn-primary" value="{{ submitValue }}">
            </div>
        </div>
    </div>

    {{ form_end(form) }}
</div>


