{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity delete' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}{{ 'user.collectivity.title.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'user.collectivity.title.delete'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.collectivity.breadcrumb.list'|trans, 'link': path('user_collectivity_list') },
        { 'name': 'user.collectivity.breadcrumb.delete'|trans({'%name%': object}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    Souhaitez vous vraiment supprimer la collectivité "{{ object }}" ?
                    <p><b>La suppression de la collectivité entrainera la suppression de toutes les données liées à cette collectivité (Traitements, Sous-traitants, Documents, ...)</b></p>

                </div>
                <div class="box-footer">
                    <a href="{{ path('user_collectivity_list') }}" class="btn btn-default">
                        {{ 'user.collectivity.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('user_collectivity_delete_confirm', { 'id': object.id }) }}" class="btn btn-primary">
                        {{ 'action.confirm_delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
