{% extends 'base.html.twig' %}

{% set bodyClass = 'user_collectivity list' %}
{% set menuItem = 'user_collectivity' %}

{% block title %}{{ 'user.collectivity.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'user.collectivity.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'user.collectivity.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-xs-12">
            <div class="action-bar">
                <a href="{{ path('user_collectivity_create') }}" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    {{ 'user.collectivity.action.new'|trans }}
                </a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_nom_court" placeholder="Nom court" style="width: 100%;">
                            </th>
                            <th>
                                <select class="form-control" id="search_type" style="width: 100%;">
                                    <option value="">Type</option>
                                    {% for key, subject in dictionary('user_collectivity_type') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_siren" placeholder="Siren" style="width: 100%;">
                            </th>
                            <th>
                                <select class="form-control" id="search_actif" style="width: 100%;">
                                    <option value="">Statut</option>
                                    <option value="1">{{ 'label.active'|trans }}</option>
                                    <option value="0">{{ 'label.inactive'|trans }}</option>
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th>{{ 'user.collectivity.list.name'|trans }}</th>
                            <th>{{ 'user.collectivity.list.short_name'|trans }}</th>
                            <th>{{ 'user.collectivity.list.type'|trans }}</th>
                            <th>{{ 'user.collectivity.list.siren'|trans }}</th>
                            <th>{{ 'user.collectivity.list.active'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set actionsIsVisible = false %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set actionsIsVisible = true %}
    {% endif %}
    {% set dataTableOptions = {
        columns: [
            {"data": "nom"},
            {"data": "nom_court"},
            {"data": "type"},
            {"data": "siren"},
            {"data": "statut"},
            {"data": "actions", "className": "noVis", "orderable": false, "visible": actionsIsVisible},
        ],
        order:  [
            [0, 'asc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            $('#search_nom_court').off('keyup');
            $('#search_nom_court').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));

            $('#search_type').off('change');
            $('#search_type').change(function(){
                oTable.column('2').search($(this).val()).draw() ;
            });

            $('#search_siren').off('keyup');
            $('#search_siren').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw() ;
            }));

            $('#search_actif').off('change');
            $('#search_actif').change(function(){
                oTable.column('4').search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>

{% endblock %}
