{% extends 'User/Security/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'user.security.title.forget_password_confirm'|trans }}{% endblock %}

{% block body %}
    <div class="login-logo">
        <b>Madis</b>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg"><strong>{{ 'user.security.forget_password_confirm.verbatim'|trans }}</strong></p>
        <p class="login-box-msg">{{ 'user.security.forget_password_confirm.message'|trans }}</p>

        <div class="text-center">
            <a href="{{ path('login') }}">
                <i class="fa fa-arrow-circle-left"></i>
                {{ 'user.security.forget_password.back_to_login'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
