{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_violation list' %}
{% set menuItem = 'registry_violation' %}

{% block title %}{{ 'registry.violation.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.violation.title.list'|trans }}
        <small>
            {% if app.request.query.get('archive') == 'true' %}
                {{ 'label.archived'|trans }}
            {% else %}
                {{ 'label.not_archived'|trans }}
            {% endif %}
        </small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.violation.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('registry_violation_create') }}" class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        {{ 'registry.violation.action.new'|trans }}
                    </a>
                    {% endif %}
                    {% if app.user.roles[0] != 'ROLE_REFERENT' %}
                    <a href="{{ path('registry_violation_report') }}" class="btn btn-default">
                        <i class="fa fa-clipboard-list"></i>
                        {{ 'registry.violation.action.report'|trans }}
                    </a>
                    {% endif %}
                    {% if app.request.query.get('archive') == 'true' %}
                        <a href="{{ path('registry_violation_list', {'archive' : 'false'}) }}" class="btn btn-default">
                            <i class="fa fa-trash"></i>
                            {{ 'registry.violation.action.not_archived'|trans }}
                        </a>
                    {% else %}
                        <a href="{{ path('registry_violation_list', {'archive' : 'true'}) }}" class="btn btn-default">
                            <i class="fa fa-trash"></i>
                            {{ 'registry.violation.action.archived'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input class="form-control" type="text" id="search_collectivite" placeholder="Collectivité" style="width: 100%;">
                            </th>
                            <th>
                                <input class="datepicker form-control" type="text" id="search_date" placeholder="Date de violation" style="width: 100%;">
                            </th>
                            <th>
                                <select class="form-control" id="search_nature" style="width: 100%;">
                                    <option value="">Nature</option>
                                    {% for key, subject in dictionary('registry_violation_nature') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <select class="form-control" id="search_cause" style="width: 100%;">
                                    <option value="">Cause</option>
                                    {% for key, subject in dictionary('registry_violation_cause') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <select class="form-control" id="search_gravity" style="width: 100%;">
                                    <option value="">Gravité</option>
                                    {% for key, subject in dictionary('registry_violation_gravity') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th></th>
                        </tr>

                        <tr>
                            <th>{{ 'registry.violation.list.collectivity'|trans }}</th>
                            <th>{{ 'registry.violation.list.date'|trans }}</th>
                            <th>{{ 'registry.violation.list.violation_nature'|trans }}</th>
                            <th>{{ 'registry.violation.list.cause'|trans }}</th>
                            <th>{{ 'registry.violation.list.gravity'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = false %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% if is_granted('ROLE_USER') and 'true' != app.request.get('archive') %}
        {% set actionIsVisible = true %}
    {% endif %}

    {% set dataTableOptions = {
        columns: [
            {"data": "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "date"},
            {"data": "nature"},
            {"data": "cause"},
            {"data": "gravity"},
            {"data": "actions", "className": "noVis", "orderable": false, "visible": actionIsVisible},
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            $('#search_date').off('change');
            $('#search_date').change(function(){
                oTable.column('1').search($(this).val()).draw() ;
            });

            $('#search_nature').off('change');
            $('#search_nature').change(function(){
                oTable.column('2').search($(this).val()).draw() ;
            });

            $('#search_cause').off('change');
            $('#search_cause').change(function(){
                oTable.column('3').search($(this).val()).draw() ;
            });

            $('#search_gravity').off('change');
            $('#search_gravity').change(function(){
                oTable.column('4').search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>

{% endblock %}
