{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_mesurement action_plan' %}
{% set menuItem = 'registry_mesurement_action_plan' %}

{% block title %}{{ 'registry.mesurement.title.action_plan'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.mesurement.title.action_plan'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.mesurement.title.action_plan'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
        <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_collectivite" placeholder="Collectivité" style="width: 100%;">
                            </th>
                            <th>
                                <input class="datepicker form-control" type="text" id="search_date_planification" placeholder="Date" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_cout" placeholder="Coût" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_charge" placeholder="Charge" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_responsable_action" placeholder="Responsable" style="width: 100%;">
                            </th>
                            <th>
                                <select class="form-control" id="search_priorite" style="width: 100%;">
                                    <option value="">Priorité</option>
                                    {% for key, subject in dictionary('registry_mesurement_priority') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th>{{ 'registry.mesurement.list.name'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.collectivity'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.planification_date'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.cost'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.charge'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.manager'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.priority'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% set dataTableOptions = {
        columns: [
            {"data": "nom", "className": "noVis"},
            {"data": "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "date_planification"},
            {"data": "cout"},
            {"data": "charge"},
            {"data": "responsable_action"},
            {"data": "priorite"},
            {"data": "actions", "orderable": false, "className": "noVis"},
        ],
        order:  [
            [6, 'desc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));

            $('#search_collectivite').off('keyup');
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));

            $('#search_date_planification').off('change');
            $('#search_date_planification').change(function(){
                oTable.column('2').search($(this).val()).draw() ;
            });

            $('#search_cout').off('keyup');
            $('#search_cout').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw() ;
            }));

            $('#search_charge').off('keyup');
            $('#search_charge').keyup($.debounce(250, function(){
                oTable.column('4').search($(this).val()).draw() ;
            }));

            $('#search_responsable_action').off('keyup');
            $('#search_responsable_action').keyup($.debounce(250, function(){
                oTable.column('5').search($(this).val()).draw() ;
            }));

            $('#search_priorite').off('change');
            $('#search_priorite').change(function(){
                oTable.column('6').search($(this).val()).draw() ;
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>

{% endblock %}
