{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_mesurement list' %}
{% set menuItem = 'registry_mesurement' %}

{% block title %}{{ 'registry.mesurement.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'registry.mesurement.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.mesurement.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('registry_mesurement_create') }}" class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        {{ 'registry.mesurement.action.new'|trans }}
                    </a>
                    {% endif %}
                    {% if app.user.roles[0] != 'ROLE_REFERENT' %}
                    <a href="{{ path('registry_mesurement_report') }}" class="btn btn-default">
                        <i class="fa fa-clipboard-list"></i>
                        {{ 'registry.treatment.action.report'|trans }}
                    </a>
                    {% endif %}
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <input class="form-control" type="text" id="search_nom" placeholder="Nom" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_collectivite" placeholder="Collectivité" style="width: 100%;">
                            </th>
                            <th>
                                <select class="form-control" id="search_statut" style="width: 100%;">
                                    <option value="">Statut</option>
                                    {% for key, subject in dictionary('registry_mesurement_status') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_cout" placeholder="Coût" style="width: 100%;">
                            </th>
                            <th>
                                <input class="form-control" type="text" id="search_charge" placeholder="Charge" style="width: 100%;">
                            </th>
                            <th>
                                <select class="form-control" id="search_priorite" style="width: 100%;">
                                    <option value="">Priorité</option>
                                    {% for key, subject in dictionary('registry_mesurement_priority') %}
                                        <option value="{{ key }}">{{ subject }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th>{{ 'registry.mesurement.list.name'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.collectivity'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.status'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.cost'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.charge'|trans }}</th>
                            <th>{{ 'registry.mesurement.list.priority'|trans }}</th>
                            {% if is_granted('ROLE_USER') %}
                                <th>{{ 'label.actions'|trans }}</th>
                            {% endif %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set collectivityIsVisible = false %}
    {% set collectivityClassname = "noVis" %}
    {% set actionIsVisible = false %}
    {% if is_granted('ROLE_REFERENT') %}
        {% set collectivityIsVisible = true %}
        {% set collectivityClassname = "" %}
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {% set actionIsVisible = true %}
    {% endif %}

    {% set dataTableOptions = {
        columns: [
            {"data": "nom", "className": "noVis"},
            {"data": "collectivite", "className": collectivityClassname, "visible": collectivityIsVisible},
            {"data": "statut"},
            {"data": "cout"},
            {"data": "charge"},
            {"data": "priorite"},
            {"data": "actions", "orderable": false, "className": "noVis", "visible": actionIsVisible},
        ],
        order:  [
            [5, 'desc' ]
        ],
    } %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        $(document).ready(function() {
            $('#table_filter').hide();
            var oTable = $('#table').DataTable();
            $('#search_nom').keyup($.debounce(250, function(){
                oTable.column('0').search($(this).val()).draw() ;
            }));
            $('#search_collectivite').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));
            $('#search_statut').change(function(){
                oTable.column('2').search($(this).val()).draw() ;
            });
            $('#search_cout').keyup($.debounce(250, function(){
                oTable.column('3').search($(this).val()).draw() ;
            }));
            $('#search_charge').keyup($.debounce(250, function(){
                oTable.column('4').search($(this).val()).draw() ;
            }));
            $('#search_priorite').change(function(){
                oTable.column('5').search($(this).val()).draw() ;
            });
        } );
    </script>
{% endblock %}
