/* GLOBAL */
a:not([href]).banner-impersonate {
  cursor: not-allowed;
}

/* Impersonate */
body > div.banner-impersonate {
  min-height: 50px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;

  a {
    text-decoration: underline;
    font-style: italic;
    margin-left: 1em;
    font-size: small;
  }

  div {
    line-height: 50px;
  }
}

/* Header */
.main-header .logo-mini img {
  max-width: 2em;
  max-height: 2em;
}

.main-header .sidebar-toggle:before {
  content: "";
}

/* Sidebar */
.sidebar-logo {
    & img {
      width: 195px;
      height: auto;
    }
}
.sidebar-collapse .sidebar-logo {
    display: none;
}

/* Form */
.form-group>label.required:after {
  content: '*';
}
.complex-choice-group label.col-sm-2 {
  text-align: left;
  width: 100%;
}
.delay-group {
  .one-line {
    vertical-align: middle;

    > div {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.has-feedback .form-control-feedback {
  pointer-events: auto;
  cursor: pointer;
}

/* Pages */
div.action-bar {
  margin-bottom: 1em;
}

/* Show */
body.show .content ul {
  -webkit-padding-start: 15px;
}



/* LOADER */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;

  div {
    position: absolute;
    top: 6px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  div:nth-child(1) {
    left: 1.3px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  div:nth-child(2) {
    left: 1.3px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  div:nth-child(3) {
    left: 5.7px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  div:nth-child(4) {
    left: 10px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}

@keyframes lds-ellipsis1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes lds-ellipsis3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
@keyframes lds-ellipsis2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(4px, 0); }
}

#tooltip {
  display:none;
  position:fixed;
  overflow:hidden;

  span.collectivity-name{
    font-size:medium;
    font-weight: bold;
  }
}
.tooltip-box{
  border: solid #01C0EF 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  border-radius: 2px;
  margin-bottom: 15px;
  padding:5px;
}

.report{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  i{
    font-size: 33px;
  }
}

.map-wrapper {
  .row{
    overflow: hidden; 
    margin-right:0px;
  }

  padding:0;
  [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}

.table > tbody > tr > td.concerned-people-type{
  padding-left: 30px;
}

.is-paddingless{
  .complex-choice-group{
    padding-left:0px;

    .check{
      padding-left: 0px;
    }
  }
}

.custom-checkbox{
  margin-top: 8px;
  margin-bottom: 16px;

  div > label {
    padding-right: 0px;
    cursor: pointer;
  }
}

.content-header-custom-padding {
  padding: 15px 0;
}

.stacked-bar-graph {
  width: 100%;
  height: 20px;

  span {
    display: inline-block;
    height:100%;
    box-sizing: border-box;
    float: left;
  }

  .bar-conforme {
    background: #00A65A;
  }

  .bar-non-conforme-mineure {
    background: #F39C12;
  }

  .bar-non-conforme-majeure {
    background: #DD4B39;
  }
}

.reponse-modal-button {
  background-color: transparent;
}

div.mesurement-hide {
  display: inline-block;

  > i.primary-i {
    color: #3779B6;
  }

  > i.warning-i {
    color: #F1902A;
  }

  > div {
    display: none;
  }

  > i:hover + div.primary {
      border: solid #3779B6 1px;
    }

  > i:hover + div.warning {
    border: solid #F1902A 1px;
  }

  > i:hover + div {
    display: block;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    border-radius: 2px;
    padding: 5px;

    > ul {
      font-weight: bold;
    }
  }
}

td.reponse-vertical-align {
  vertical-align: middle !important;
}

.nopadding {
  padding-left: 0 !important;
}
