{% set submitValue = submitValue|default('action.submit'|trans) %}
{% set draftValue = draftValue|default('action.draft'|trans) %}
{% import _self as formMacros %}

{% macro printParticipant(participant) %}
    <div class="js-collection-item col-md-6 nopadding">
        <div class="box box-default">
            <div class="box-tools pull-right">
                <a href="#" class="btn btn-box-tool js-remove-item" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            <div class="box-body">
                {{ form_errors(participant) }}
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-bold">{{ 'registry.conformite_organisation.participant.form.civilite'|trans }}</td>
                            <td>{{ form_widget(participant.civilite) }}</td>
                        </tr>
                        <tr>
                            <td class="text-bold">{{ 'registry.conformite_organisation.participant.form.prenom'|trans }}</td>
                            <td>{{ form_widget(participant.prenom) }}</td>
                        </tr>
                        <tr>
                            <td class="text-bold">{{ 'registry.conformite_organisation.participant.form.nom_famille'|trans }}</td>
                            <td>{{ form_widget(participant.nomDeFamille) }}</td>
                        </tr>
                        <tr>
                            <td class="text-bold">{{ 'registry.conformite_organisation.participant.form.fonction'|trans }}</td>
                            <td>{{ form_widget(participant.fonction) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}

{{ form_start(form) }}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                <a href="{{ path('registry_conformite_organisation_list') }}" class="btn btn-default">
                    {{ 'registry.conformite_organisation.action.back_to_list'|trans }}
                </a>
                {# Prevent those fields from being automatically rendered #}
                {% do form.save.setRendered() %}
                {% do form.saveDraft.setRendered() %}
                <input name="{{ form.children.save.vars.full_name }}" type="submit" class="btn btn-primary" value="{{ submitValue }}">
                <input name="{{ form.children.saveDraft.vars.full_name }}" type="submit" class="btn btn-info" value="{{ draftValue }}">
            </div>
        </div>
    </div>
</div>

    <div class="col-md-12">
        <div class="box box-solid box-header with-border">
            <h3 class="box-title">
                {{ 'registry.conformite_organisation.form.contexte'|trans }}
            </h3>
            <div class="box-body">
                <div class="col-sm-6">
                    {{ form_row(form.date) }}
                </div>
                <div class="col-sm-6">
                    <div class="js-collection-wrapper"
                         data-prototype="{{ formMacros.printParticipant(form.participants.vars.prototype)|e('html_attr') }}"
                         data-index="{{ form.participants|length }}"
                    >

                    {% for participant in form.participants %}
                        {{ formMacros.printParticipant(participant) }}
                    {% endfor %}
                    <a href="#" class="js-collection-add btn btn-default">
                        <span class="fa fa-pencil-alt"></span>
                        {{ 'registry.conformite_organisation.participant.form.add'|trans }}
                    </a>
                        </div>
                    {{ form_widget(form.participants) }}
                </div>
            </div>
        </div>
    </div>

{% include 'Registry/Conformite_organisation/_form_conformites.html.twig' with {'form': form.conformites} %}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body text-center">
                {# Prevent those fields from being automatically rendered #}
                {% do form.save.setRendered() %}
                {% do form.saveDraft.setRendered() %}
                <input name="{{ form.children.save.vars.full_name }}" type="submit" class="btn btn-primary" value="{{ submitValue }}">
                <input name="{{ form.children.saveDraft.vars.full_name }}" type="submit" class="btn btn-info" value="{{ draftValue }}">
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
