<div class="row">
    <div class="col-md-12" style="margin-top: 15px;">
            <div>
                    {% for conformitesArray in getConformitesWithProcessusAndQuestions(form) %}
                        {% set newRow = loop.index is not odd %}
                        {% if newRow %}
                            <div class="row">
                        {% endif %}
                        <div class="col-md-6">
                            {% set processus = (conformitesArray|first).vars.value.processus %}
                            <div class="box box-solid box-{{ processus.couleur }}">
                                <div class="box-body text-bold">
                                    <p>{{ processus.description }}</p>
                                </div>
                                <div class="box-header with-border">{{ processus.position }}. {{ processus.nom | upper }}</div>
                                <div class="box-body">
                                    {% for conformite in conformitesArray %}
                                        {% for reponse in getQuestionsOrderedByPosition(conformite.reponses) %}
                                            <div class="text-bold">{{ reponse.vars.value.question.nom|raw }}</div>
                                            <div>{{ form_widget(reponse) }}</div>
                                        {% endfor %}
                                        <div class="text-bold" style="margin-bottom: 15px;">{{ 'registry.conformite_organisation.form.actions_protection'|trans }}</div>
                                        {{ form_widget(conformite.actionProtections) }}
                                        <button id="{{ conformite.actionProtections.vars.id }}_add_button" type="button" class="btn reponse-modal-button" data-toggle="modal" data-target="#mesurement-modal" data-select-id="{{ conformite.actionProtections.vars.id }}">
                                            <span class="fa fa-plus-circle"></span>
                                        </button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if newRow %}
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
    </div>
</div>
