<section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

        <li {% if menuItem == 'reporting_dashboard' %}class="active"{% endif %}>
            <a href="{{ path('reporting_dashboard_index') }}">
                <i class="fa fa-tachometer-alt"></i>
                <span>{{ 'sidebar_menu.dashboard'|trans }}</span>
            </a>
        </li>

        {# REGISTRIES #}
        <li class="header">Registres</li>
        <li {% if menuItem == 'registry_treatment' %}class="active"{% endif %}>
            <a href="{{ path('registry_treatment_list') }}">
                <i class="fa fa-list"></i>
                <span>{{ 'sidebar_menu.registry_treatments'|trans }}</span>
            </a>
        </li>
        <li {% if menuItem == 'registry_contractor' %}class="active"{% endif %}>
            <a href="{{ path('registry_contractor_list') }}">
                <i class="fa fa-address-card"></i>
                <span>{{ 'sidebar_menu.registry_contractors'|trans }}</span>
            </a>
        </li>
        <li {% if menuItem == 'registry_request' %}class="active"{% endif %}>
            <a href="{{ path('registry_request_list') }}">
                <i class="fa fa-users"></i>
                <span>{{ 'sidebar_menu.registry_requests'|trans }}</span>
            </a>
        </li>
        <li {% if menuItem == 'registry_violation' %}class="active"{% endif %}>
            <a href="{{ path('registry_violation_list') }}">
                <i class="fa fa-exclamation-circle"></i>
                <span>{{ 'sidebar_menu.registry_violations'|trans }}</span>
            </a>
        </li>

        {# PROOF #}
        <li class="header">Preuves</li>
        <li {% if menuItem == 'registry_proof' %}class="active"{% endif %}>
            <a href="{{ path('registry_proof_list') }}">
                <i class="fa fa-file"></i>
                <span>{{ 'sidebar_menu.registry_proofs'|trans }}</span>
            </a>
        </li>

        {# ACTIONS #}
        <li class="header">Actions</li>
        <li {% if menuItem == 'registry_mesurement' %}class="active"{% endif %}>
            <a href="{{ path('registry_mesurement_list') }}">
                <i class="fa fa-adjust"></i>
                <span>{{ 'sidebar_menu.registry_mesurements'|trans }}</span>
            </a>
        </li>
        <li {% if menuItem == 'registry_mesurement_action_plan' %}class="active"{% endif %}>
            <a href="{{ path('registry_mesurement_action_plan') }}">
                <i class="fa fa-crosshairs"></i>
                <span>{{ 'sidebar_menu.registry_action_plan'|trans }}</span>
            </a>
        </li>

        {# REPORTING #}
        <li class="header">Rapports</li>
        <li {% if menuItem == 'maturity_survey' %}class="active"{% endif %}>
            <a href="{{ path('maturity_survey_list') }}">
                <i class="fa fa-chart-bar"></i>
                <span>{{ 'sidebar_menu.maturity_survey'|trans }}</span>
            </a>
        </li>
        <li {% if menuItem == 'reporting_review' %}class="active"{% endif %}>
            <a href="{{ path('reporting_review_index', {'id': app.user.collectivity.id}) }}">
                <i class="fa fa-clipboard-list"></i>
                <span>{{ 'sidebar_menu.reporting_review'|trans }}</span>
            </a>
        </li>

        {# CONFORMITE #}
        {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteTraitement == true or app.user.collectivity.hasModuleConformiteOrganisation == true %}
            <li class="header">Conformité</li>
            {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteTraitement %}
                <li {% if menuItem == 'registry_conformite_traitement' %}class="active"{% endif %}>
                    <a href="{{ path('registry_conformite_traitement_list') }}">
                        <i class="fa fa-clipboard-list"></i>
                        <span>{{ 'sidebar_menu.conformite_traitements'|trans }}</span>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or app.user.collectivity.hasModuleConformiteOrganisation %}
                <li  {% if menuItem == 'registry_conformite_organisation' %}class="active"{% endif %}>
                    <a href="{{ path('registry_conformite_organisation_list') }}">
                        <i class="fa fa-clipboard-list"></i>
                        <span>Conformité de l'organisation</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}

       {# ADMINISTRATION #}
        <li class="header">Espace d'administration</li>
        {% if is_granted('ROLE_REFERENT') %}
            {# Referent is not allowed to duplicate#}
            {% if is_granted('ROLE_ADMIN') %}
                <li {% if menuItem == 'admin_duplication' %}class="active"{% endif %}>
                    <a href="{{ path('admin_duplication_new') }}">
                        <i class="fa fa-clone"></i>
                        <span>{{ 'sidebar_menu.admin_duplication'|trans }}</span>
                    </a>
                </li>
            {% endif %}
            <li {% if menuItem == 'user_collectivity' %}class="active"{% endif %}>
                <a href="{{ path('user_collectivity_list') }}">
                    <i class="fa fa-home"></i>
                    <span>{{ 'sidebar_menu.user_collectivities'|trans }}</span>
                </a>
            </li>
            <li {% if menuItem == 'user_user' %}class="active"{% endif %}>
                <a href="{{ path('user_user_list') }}">
                    <i class="fa fa-users"></i>
                    <span>{{ 'sidebar_menu.user_users'|trans }}</span>
                </a>
            </li>
            {# Referent is not allowed to journalisation #}
            {% if is_granted('ROLE_ADMIN') %}
                <li {% if menuItem == 'reporting_journalisation' %}class="active"{% endif %}>
                    <a href="{{ path('reporting_journalisation_index') }}">
                        <i class="fa fa-list"></i>
                        <span>{{ 'sidebar_menu.reporting_journalisation'|trans }}</span>
                    </a>
                </li>
            {% endif %}

        {# If not an admin nor a referent & is write granted, let user edit informations #}
        {% else %}
            <li {% if menuItem == 'user_profile_collectivity' %}class="active"{% endif %}>
                <a href="{{ path('user_profile_collectivity_show') }}">
                    <i class="fa fa-home"></i>
                    <span>{{ 'sidebar_menu.user_profile_collectivity'|trans }}</span>
                </a>
            </li>
        {% endif %}
        {% if not is_granted('ROLE_ADMIN') %}
            <li {% if menuItem == 'user_profile_user' %}class="active"{% endif %}>
                <a href="{{ path('user_profile_user_edit') }}">
                    <i class="fa fa-user"></i>
                    <span>{{ 'sidebar_menu.user_profile_user'|trans }}</span>
                </a>
            </li>
        {% endif %}

        <li class="sidebar-logo">
            <a href="{{ app_image_sidebar_bottom_target_url }}" target="_blank" rel="nofollow noreferrer noopener">
                <img src="{{ asset(app_image_sidebar_bottom_path) }}" alt="Logo du provider Madis" />
            </a>
        </li>

    </ul>
</section>
