{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_contractor delete' %}
{% set menuItem = 'registry_contractor' %}

{% block title %}{{ 'registry.contractor.title.delete'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.contractor.title.delete'|trans }}
        <small>{{ object }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.contractor.breadcrumb.list'|trans, 'link': path('registry_contractor_list') },
        { 'name': 'registry.contractor.breadcrumb.delete'|trans({'%name%': object}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-header"></div>
                <div class="box-body">
                    Souhaitez vous vraiment supprimer le sous-traitant "{{ object }}" ?
                </div>
                <div class="box-footer">
                    <a href="{{ path('registry_contractor_list') }}" class="btn btn-default">
                        {{ 'registry.contractor.action.back_to_list'|trans }}
                    </a>
                    <a href="{{ path('registry_contractor_delete_confirm', { 'id': object.id }) }}" class="btn btn-primary">
                        {{ 'action.confirm_delete'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
