{% extends 'base.html.twig' %}

{% set bodyClass = 'registry_treatment form edit' %}
{% set menuItem = 'registry_treatment' %}

{% block title %}{{ 'registry.treatment.title.edit'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>
        {{ 'registry.treatment.title.edit'|trans }}
        <small>{{ form.vars.value }}</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'registry.treatment.breadcrumb.list'|trans, 'link': path('registry_treatment_list') },
        { 'name': 'registry.treatment.breadcrumb.edit'|trans({'%name%': form.vars.value}) }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    {{ include('Registry/Treatment/_form_render.html.twig') }}
{% endblock %}
